node_modules/
.pnpm-store/

apps/*/node_modules/
apps/*/dist/
apps/*/playwright-report/
apps/*/test-results/

packages/*/node_modules/
packages/*/dist/

.env
.env.*
!.env.example
.vercel/

*.log

dist/
.vercel
